.Notifications {
  border: 1px dashed #f42e45;
  padding: 1rem;
  margin: 1.4rem;
  position: relative;
}

.notification-wrapper {
  margin: 1.4rem;
  right: 1.1rem;
  position: absolute;
}

.notification-header {
  display: flex;
  justify-content: space-between;
}

.menuItem {
  padding-bottom: 0.2rem;
  justify-content: end;
  display: flex;
}

li[data-notification-type='default'] {
  color: rgb(32, 32, 201);
}

li[data-notification-type='urgent'] {
  color: rgb(224, 14, 14);
}