.App-header {
  display: flex;
  align-items: center;
  color: var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
  padding-bottom: 0.1rem;
  font-size: 1.25rem;
}

.App-header img {
  width: 200px;
  height: 200px;
}