#CourseList {
  margin-top: 0.6rem;
  border-collapse: collapse;
  border: 1px solid #f3eaea;
  width: 100%;
}

#CourseList th {
  padding: 0 0.5rem;
  border-top: 1px solid #faf9f9;
  border-bottom: 1px solid #faf9f9;
  text-align: left;
}

#CourseList th[colspan='2'] {
  text-align: center;
}

#CourseList td {
  padding: 0 0.5rem;
}